{% extends 'main.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
{% block content %}

    <div class="container mt-5 pt-5 col-md-5">

        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" />
            <ul class="autocomplete-result-list"></ul>
        </div>

    </div>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script>
        new Autocomplete('#autocomplete', {

            search: input => {
                console.log(input)
                const url = `/search/?asset_name=${(input)}`
                return new Promise(resolve => {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.data)
                        })
                })
            },
            renderResult: (result, props) => {
                console.log(props)
        
                let group = ''
                if (result.index % 3 === 0) {
                    group = `<li class="group">Group</li>`
                }
                return `
      ${group}
      <li ${props}>
        <div class="wiki-title">
          ${result}
        </div>
        
      </li>
    `
            },
            getResultValue: result => result,
            onSubmit: result => {
                // window.open(`/places/?=${(result)}`)
                window.open(``)
            }
        })
    </script>

{% endblock %}