{% extends 'main.html' %}
{% block content %}

<h1>Home Template</h1>

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>
        <h3>Browse added Assets</h3>
        <hr>

            <div>
                <a href="{% url 'home' %}">All Assets</a>
            </div>

        {% for stock in stocks %}

            <div>
                <a href="{% url 'home' %}?q={{stock.name}}">{{stock.name}}</a>
            </div>

        {% endfor %}
    </div>
    
    <div>
        <a href="{% url 'create-asset' %}">Create asset</a>
        <div>
            <div>
                {% for search_stocks in search_stocks %}
                <a href="{% url 'update-asset' search_stocks.id %}">Edit</a>
                <a href="{% url 'delete-asset' search_stocks.id %}">Delete</a>
                <div>
                    <h2>{{search_stocks.id}} -- <a href="{% url 'analyzer' search_stocks.id %}">{{search_stocks.name}}</a></h2>
                <hr>
                </div>
    
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
